#v1 {
    transform: scale(0.25);
    position: absolute;
    left: -1200px;
    top: -800px;
}
#v2 {
    transform: scale(0.25);
    position: absolute;
    left: -1200px;
    top: -200px;
}
#v3 {
    transform: scale(0.25);
    position: absolute;
    left: -1200px;
    top: 400px;
}